<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleDisplayName</key>
		<string>iLuminary</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>2</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSExceptionDomains</key>
			<dict>
				<key>localhost</key>
				<dict>
					<key>NSExceptionAllowsInsecureHTTPLoads</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string/>
		<key>UIAppFonts</key>
		<array>
			<string>AntDesign.ttf</string>
			<string>Entypo.ttf</string>
			<string>EvilIcons.ttf</string>
			<string>Feather.ttf</string>
			<string>FontAwesome.ttf</string>
			<string>FontAwesome5_Brands.ttf</string>
			<string>FontAwesome5_Regular.ttf</string>
			<string>FontAwesome5_Solid.ttf</string>
			<string>FontAwesome6_Brands.ttf</string>
			<string>FontAwesome6_Regular.ttf</string>
			<string>FontAwesome6_Solid.ttf</string>
			<string>Foundation.ttf</string>
			<string>Ionicons.ttf</string>
			<string>MaterialIcons.ttf</string>
			<string>MaterialCommunityIcons.ttf</string>
			<string>SimpleLineIcons.ttf</string>
			<string>Octicons.ttf</string>
			<string>Zocial.ttf</string>
			<string>Fontisto.ttf</string>
			<string>Roboto-Black.ttf</string>
			<string>Roboto-BlackItalic.ttf</string>
			<string>Roboto-Bold.ttf</string>
			<string>Roboto-BoldItalic.ttf</string>
			<string>Roboto-Italic.ttf</string>
			<string>Roboto-Light.ttf</string>
			<string>Roboto-LightItalic.ttf</string>
			<string>Roboto-Medium.ttf</string>
			<string>Roboto-MediumItalic.ttf</string>
			<string>Roboto-Regular.ttf</string>
			<string>Roboto-Thin.ttf</string>
			<string>Roboto-ThinItalic.ttf</string>
		</array>
		<key>NSFaceIDUsageDescription</key>
		<string>Unlocking wallet using faceID</string>
		<key>UIBackgroundModes</key>
		<array/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>NSCameraUsageDescription</key>
		<string>$(PRODUCT_NAME) needs access to your Camera to scan QR codes.</string>
		<key>UIRequiredDeviceCapabilities</key>
		<array>
			<string>armv7</string>
		</array>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Your voice input is needed to enable the AI assistant to respond to your voice commands and questions. This helps in providing a hands-free, seamless interaction experience and improves the assistant's accuracy in understanding and responding to your needs.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need access to your photo library to upload images for chat support.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Need microphone to convert your voice to text when speaking with the AI Assistant</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>iluminary</string>
				</array>
			</dict>
		</array>
	</dict>
</plist>